.checkout-page{
    padding: 3rem 7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 80vh;
}
.checkout-img{
    width: 20%;
}